@{
    ViewData["Title"] = "主页";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <h1>仪表板</h1>
            <p>欢迎访问服务器远程重启器。仅可以重启已经加入域的服务器！按下左侧服务器列表选择服务器。</p>
        </div>
    </div>
</div>